@using DoAn.Models
@model PagedList.IPagedList<THIETBI>
@using PagedList.Mvc
@{
    ViewBag.Title = "LocTheoGiaSanPham";
    Layout = "~/Views/Shared/_LayoutPageMaster.cshtml";
}
<div class="card-group">
    
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-3">
                <div class="card h-100">
                    <a href="@Url.Action("Detail", "Home", new {ID=@item.MATB })" class="img-wrap">
                        <img src="~/Assets/images/@item.HINHANH" style="width:100%;height:220px" />

                    </a>

                    <div class="card-body">
                        <h4 class="card-title">@item.MATB</h4>
                        <div class="card-text">
                            <h5>@item.TENTB </h5>
                            <h3 style="color:red">@item.GIATHANH</h3>
                        </div>

                    </div>
                    <a href="@Url.Action("AddCart", "ShoppingCart", new {ID = @item.MATB })" onclick="return Submit()" class="img-wrap">
                        <img src="~/Assets/images/addtocart.jpg" style="width:50px;height:50px" />
                    </a>
                    <div class="card-footer">
                        <small class="text-muted"> Last update 3 mins ago</small>
                    </div>
                </div>
            </div>
        }
        @*Trang   @Html.PagedListPager(Model, page => Url.Action("Index", new {page}))*@
    </div>
</div>
<div class="pagination" style="margin-left: 400px">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("Home", new { page }))
</div>