@using DoAn.Models
@model PagedList.IPagedList<THIETBI>
@{
    ViewBag.Title = "Serch";
    Layout = "~/Views/Shared/_LayoutPageMaster.cshtml";
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
}

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-3">
                <div class="card h-100">

                    <a href="@Url.Action("Detail", "Home", new {ID=@item.MATB })" class="img-wrap">
                        <img src="~/Assets/images/@item.HINHANH" style="width:100%;height:220px" />
                    </a>

                    <div class="card-body">
                        <h4 class="card-title">@item.MATB</h4>
                        <div class="card-text">
                            <h5>@item.TENTB </h5>
                            <h3 style="color:red">@item.GIATHANH</h3>
                        </div>

                    </div>
                    <div class="card-footer">
                        <small class="text-muted"> Last update 3 mins ago</small>
                    </div>
                </div>
            </div>
        }
        @*Trang   @Html.PagedListPager(Model, page => Url.Action("Index", new {page}))*@
    </div>

</div>
